
h1{
    color: white;
    text-align: center;
    font-size: 32px;
    padding: 10px;
    border-bottom: 1px solid white;
}

.conteudo{
    margin: 10px auto;
    width: 940px;
    height: 940px;
   
}

.conteudo img{
    width: 250px;
    height: 250px;
    margin-left: 345px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.conteudo p {
    color: white;
    text-align: center;
    line-height: 1.5em;
}

.conteudo-link{
    margin-top: 30px;
    font-size: 1.5em;
}

.conteudo-link a{
    color: white;
}

.conteudo-link a:hover{
    color: rgb(180, 202, 130);
}